{% extends 'base.html' %} <!-- uvoizim sadržaj base.html -->

{% block title %}All user{% endblock title %}   <!-- ovdje se menja title -->

{% load static %} <!-- uvoizim static fajle -->

<!-- blok za JS static fajlova -->
{% block scripts %}
{% endblock scripts %}

<!-- blok za sadržaj -->
{% block content %}

    <h1>All user</h1>
    <!-- prikaz poruke ukoliko nema korisnika -->
    {% if message %}
        <p>{{ message }}</p>
    <!-- ukoliko ima korisnika prikaz korisnika -->
    {% else %}
        <ul>
            {% for user in users %}
                <li>{{ user.username }} - {{ user.email }}</li>
            {% endfor %} 
        </ul>   
    {% endif %}

{% endblock content %}

