{% extends "base.html" %}

{% block title %}Check your email{% endblock %}

{% load static %} <!-- uvoizim static fajle -->

<!-- css stilizacija -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
{% endblock styles %}

<!-- blok za JS static fajlova -->
{% block scripts %}
{% endblock scripts %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">

        <h1>Check your email</h1>

        <p>
            If an account exists with the email address you entered,
            we have sent instructions for resetting your password.
        </p>

        <p>
            Please also check your spam or junk folder.
        </p>

        <a href="{% url 'login' %}" class="auth-button">
            Back to login
        </a>

    </div>
</div>

{% endblock %}